.baggage_block{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.baggage_block__cards{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    // margin-bottom: 20px;
    font-size: $fz_second;
    .baggage_block__card_item{
        display: flex;
        max-width: 100%;
        border: 1px solid $black_gray;
        &:not(:first-child){
            margin-top: 50px;
        }
        &:hover{
            box-shadow: 0px 15px 18px 5px rgba($color: $black_gray_2, $alpha: 0.2)
        }
        .baggage_card__img{
            width: 300px;
            // height: 100%;
        }
       
        .baggage_card__text_block{
            padding: 20px;
            .baggage_card__title{
                margin: 0;
            }
            .baggage_card__text{
                margin-top: 10px;
                ul{
                    margin-top: 10px;
                    li{
                        &:not(:first-child){
                            margin-top: 20px;
                        }
                    }
                }
                a{
                    color: red;
                    border-bottom: 1px solid transparent;
                    &:hover{
                        border-bottom: 1px solid $blue;
                    }
                }
                .baggage_card__sub_text{
                    .documents_animals{
                        p{
                            margin-top: 20px;
                            
                        }
                        
                    }
                }
                
            }
        }
    }
}

@media (max-width: 900px) {
    .baggage_block__cards{
        .baggage_block__card_item{
            &:first-child{
                flex-direction: column;
                .baggage_card__img{
                    width: 100%;
                    height: 400px;
                    content:url("/assets/images/services/dog.jpg");
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .baggage_block__cards{
        .baggage_block__card_item{
            &:not(:first-child){
                .baggage_card__img{
                    width: 150px;
                    height: 300px;
                }
            }
            &:last-child{
                flex-direction: column;
                .baggage_card__img{
                    width: 100%;
                    height: 300px;
                    content: url('/assets/images/services/sport_equipment_100%.jpg');
                }
            }
        }
    }
}
@media (max-width: 450px) {
    .baggage_block__cards{
        .baggage_block__card_item{
            &:first-child{
                .baggage_card__img{
                    max-width: 450px;
                    height: auto;
                }
            }
            &:not(:first-child){
                .baggage_card__img{
                }
            }
        }
    }
}
@media (max-width: 350px) {
    .baggage_block__cards{
        .baggage_block__card_item{
        }
    }
}