.block_start{
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgba($color: #000000, $alpha: .7);
        width: 100%;
        height: 100%;
    }
    .img_food_block{
        position: relative;
        padding-bottom: 56.25%;
        margin-top: -20px;
        z-index: 1;
        .food_img_bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        }
    }

    .food_container{
        padding: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            height: 100%;
            color: $white;
            h1{
                text-align: center;
                font-size: 64px;
            }
            h2{
                text-align: center;
                font-size: 38px;
            }
            .btn_scroll_food{
                margin-top: 50%;
                bottom: 140px;
                position: absolute;
                left: 50%;
                margin-right: -50%;
                transition: 0.8s;
                transform: translate(-50%, -50%);
            }
            .down_scroll_btn_food{
                bottom: 110px;
            }
            .up_scroll_btn_food{
                bottom: 140px;
            }
        }
        
    }
}


.main_food_block{
    margin: 50px 0;
    .food_short_info{
        font-size: $fz_second;
    }
    .second_food_block{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 20px;
        .whene_to_place_an_order{
            width: 500px;
        }
        .where_oder__list,.whene_oder__list{
            .where_oder__list__item,.whene_oder__list__item{
                &:not(:first-child){
                    margin-top: 20px;
                }
            }
        }
    }
}
.menu_food_block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .menu_cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .menu_cards__item{
            border: 1px solid $black_gray;
            max-width: 500px;
            &:nth-child(n+3){
                margin-top: 30px;
            }
            &:hover{
                box-shadow: 0px 15px 18px 5px rgba(80, 34, 34, 0.2);
            }
            .menu_cards__item_img_block{
                width: 100%;
                height: 300px;
                background: $black_gray;
            }
            .menu_cards__item_info_block{
                padding: 10px;
                h2{
                    margin: 0;
                }
                p{
                    margin-top: 20px;
                    font-size: $fz_second;
                }
                .menu_cards__item_price{
                    padding: 10px 20px;
                    background: $light_green;
                    margin-top: 20px;
                    font-weight: 700;
                    font-size: $fz_second;
                }
            }
        }
    }
}

@media (max-width: 870px) {
    .main_food_block{
        .second_food_block{
            .whene_to_place_an_order{
                width: 350px;
            }
        }
    }
    .menu_food_block{
        .menu_cards{
            .menu_cards__item{
                max-width: 350px;
                &:not(:first-child){
                    margin-top: 30px;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .main_food_block{
        .second_food_block{
            display: flex;
            flex-direction: column;
            .whene_to_place_an_order{
                width: 100%;
            }
        }
    }
    .menu_food_block{
        .menu_cards{
            .menu_cards__item{
                max-width: 100%;
            }
        }
    }
}