.work_with_flights{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 20px;
    border-radius: 10px;
    background: $white;
    border: 1px solid $gray_5;
    // margin-top: 50px;
    height: 160px;
    .flights_list{
        font-size: $fz_last;
        li{
            width: 250px;
            height: 40px;
            font-size: $fz_second;
            background: $gray_4;
            color: $black_green_2;
            cursor: pointer;
            &.active_flights_list_item{
                transition: 0s;
                border-top: 2px solid $green;
                background: white;
                color: $black;
            }
            &:hover{
                color: $black;
            }
        }
        .active_buy_ticket{
            background: $gray_4;
        }
    }
    .search_tickets_block{
        display: flex;
        margin-top: 5px;
        .form_search_tickets{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 35px;
            .form_search_block_inputs{    
                .dropdown{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    width: 250px;
                    &.dd_count_pass{
                        width: 150px;
                        .input_count_pass_block{
                            position: relative;
                            .dropbtn{
                                position: absolute;
                                right: 0;
                                padding: 0;
                                height: 35px;
                                width: 25px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: 0.2s;
                            }
                        }
                    }
                    .input_search_block{
                        position: relative;
                        .dropbtn{
                            position: absolute;
                            right: 0;
                            padding: 0;
                            height: 35px;
                            width: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.2s;
                        }
                        
                    }
                    
                    .dropdown_content{
                        transform-origin: 0 0;
                        opacity: 0;
                        transform: scaleY(0);
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        max-height: 188px;
                        width: 250px;
                        overflow-y: auto;
                        border-top: 0;
                        border-bottom: 1px solid $gray_3;
                        position: absolute;
                        z-index: 1000;
                        .dropdown_content__item{
                            // padding: 6px 12px;
                            padding: 15px;
                            border:1px solid $gray_3;
                            background: $white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            &:hover{
                                cursor: pointer;
                                background: $gray_4;
                            }
                            &:last-child{
                                border-bottom: none;
                            }
                            &:not(:first-child){
                                border-top: none;
                            }

                            .info_country{
                                color: $black_green_2;
                                .city_name{
                                    font-size: $fz_second;
                                }
                                .desc_airport_eng{
                                    margin-top: 6px;
                                }
                            }
                            .airport_name{
                                color: $black_green_2;
                            }
                        }
                        .dc_count_pass{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 20px;
                            &:hover{
                                cursor: auto;
                                background: $white;
                            }
                            
                            .info_count_pass{
                                .title_count_pass{
                                    font-weight: bold;
                                }
                                .desc_pass{
                                    margin-top: 5px;
                                    color: $black_green_2;
                                }
                            }
                            .btn_group_count_pass{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .result_count_pass{
                                    margin: 0 10px;
                                    font-weight: bold;
                                    font-size: $fz_second;
                                }
                                .btn{
                                    border-radius: 50%;
                                    border: 1px solid $black_green;
                                    width: 25px;
                                    height: 25px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                        .select_elem_airport{
                            background-color: $light_green_2;
                           
                            .info_country,.airport_name{
                                color: $black;
                            }
                        }
                        &::-webkit-scrollbar {
                            width: 7px;
                            background-color: $gray_2;
                        }
                          
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            background-color: $light_green;
                        }
                          
                        &::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
                            border-radius: 10px;
                            background-color: $gray_2;
                        }
                    }
                    .drop_count_pass{
                        max-height: none;
                        width: 280px;
                    }
                    .show_drop_content{
                        position: relative;
                        transform: scaleY(1);
                        opacity: 1;
                    }
                }
                .btn_style_1{
                    width: 100px;
                    height: 40px;
                    margin-left: 0;
                }
                .min_input{
                    cursor: pointer;
                }
            }
            .block_inputs_active{
                border-top: 2px solid $green;
                input{
                    border-top: none;
                }
            }
            .form_date_there_block{
                
            }
        }
        .non_view{
            display: none;
        }
    }
    .check_in_block{
        .form_check_in{
            #input_info_ticket_reserv{
                margin-left: 20px;
            }
        }
    }
}

.resorts,.add_services{
    flex-direction: column;
    padding: 50px 0;
    .resort_cards_block,.add_services_block{
        margin-top: 50px;
        align-items: flex-start;
        a{
            display: block;
        }
        .resort_card,.add_services_card{
            display: flex;
            flex-direction: column;
            .resotr_img,.add_services_img{
                width: 350px;
                height: 300px;
            }
            .shortdesk_resort,.shortdesk_add_services{
                padding: 10px;
                .title_resort,.title_add_services{
                    color: $light_green_2;
                    max-width: 300px;
                }
                .starting_price,.add_services_price{
                    font-size: $fz_last;
                }
            }
            
            &:hover{
                margin-top: -30px;
                margin-bottom: 30px;
                -webkit-box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
            }
        }
    }
}