.work_with_flights{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 20px;
    border-radius: 10px;
    background: $white;
    border: 1px solid $gray_5;
    margin-top: 50px;
    .errors_search_tickets{
        padding: 10px;
        background: #A90000;
        color: $white;
        font-size: $fz_second;
        margin-top: 30px;
    }
    .flights_list{
        font-size: $fz_last;
        li{
            width: 250px;
            height: 40px;
            font-size: $fz_second;
            background: $gray_4;
            color: $black_gray_2;
            cursor: pointer;
            &.active_flights_list_item{
                transition: 0s;
                border-top: 2px solid $green;
                background: white;
                color: $black;
            }
            &:hover{
                color: $black;
            }
        }
        .active_buy_ticket{
            background: $gray_4;
        }
    }
    .message_after_search_complete{
        margin-top: 20px;
        line-height: 22px;
        color: red;
    }
    .search_tickets_block{
        display: flex;
        margin-top: 40px;
        .form_search_tickets{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .form_search_block_inputs{
                height: 40px;
                position: relative;
                .dropdown{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    width: 250px;
                    &.dd_count_pass{
                        width: 150px;
                        .input_count_pass_block{
                            position: relative;
                            .dropbtn{
                                position: absolute;
                                right: 0;
                                padding: 0;
                                height: 35px;
                                width: 25px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: 0.2s;
                            }
                            #id_i_c_pass{
                                // text-align: right;
                                // &:before {
                                //     color: #757575;
                                //     content: attr(placeholder) !important;
                                //     margin-right: 0.5em;
                                // }
                                // &:focus:before {
                                //     content: '' !important;
                                // }
                            }
                        }
                    }
                    .input_search_block{
                        position: relative;
                        .dropbtn{
                            position: absolute;
                            right: 0;
                            padding: 0;
                            height: 35px;
                            width: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.2s;
                        }
                        
                    }
                    
                    .dropdown_content{
                        transform-origin: 0 0;
                        opacity: 0;
                        transform: scaleY(0);
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        max-height: 188px;
                        width: 250px;
                        overflow-y: auto;
                        border-top: 0;
                        border-bottom: 1px solid $gray_3;
                        position: absolute;
                        z-index: 1000;
                        @include custom_scroll_bar;
                        .dropdown_content__item{
                            padding: 15px;
                            border:1px solid $gray_3;
                            background: $white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: $black;
                            &:hover{
                                cursor: pointer;
                                background: $gray_4;
                            }
                            &:last-child{
                                border-bottom: none;
                            }
                            &:not(:first-child){
                                border-top: none;
                            }

                            .info_country{
                                width: 70%;
                                .airport_name{
                                    font-size: $fz_second;
                                }
                                .desc_airport_eng{
                                    margin-top: 6px;
                                    color: $black_gray_2;
                                }
                            }
                        }
                        .dc_count_pass{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 20px;
                            &:hover{
                                cursor: auto;
                                background: $white;
                            }
                            #btn_close_dc_count_pass{
                                width: 100%;
                            }
                            
                            .info_count_pass{
                                .title_count_pass{
                                    font-weight: bold;
                                }
                                .desc_pass{
                                    margin-top: 5px;
                                    color: $black_gray_2;
                                }
                            }
                            .btn_group_count_pass{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .result_count_pass{
                                    margin: 0 10px;
                                    font-weight: bold;
                                    font-size: $fz_second;
                                }
                                .btn{
                                    border-radius: 50%;
                                    border: 1px solid $black_gray;
                                    width: 25px;
                                    height: 25px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                        .select_elem_airport{
                            background-color: $light_green_2;
                           
                            .info_country,.airport_name{
                                color: $black;
                                .desc_airport_eng{
                                    color: $white
                                }
                            }
                            &:hover{
                                background: $light_green;
                                color: black;
                            }
                            
                        }
                        
                    }
                    .drop_count_pass{
                        max-height: none;
                        width: 280px;
                    }
                    .show_drop_content{
                        position: relative;
                        transform: scaleY(1);
                        opacity: 1;
                    }
                }
                .btn_style_1{
                    width: 100px;
                    height: 40px;
                    margin-left: 0;
                }
                .min_input{
                    cursor: pointer;
                }
            }
            .there_data,.back_data{
                input::-webkit-calendar-picker-indicator {
                    background: transparent;
                    bottom: 0;
                    color: transparent;
                    cursor: pointer;
                    height: auto;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: auto;
                }
                input[type="date"]{
                    text-align: right;
                }
                input:before {
                    color: #757575;
                    content: attr(placeholder) !important;
                    margin-right: 0.5em;
                }
                  input:focus:before {
                    content: '' !important;
                }
            }
            .block_inputs_active{
                border-top: 2px solid $green;
                input{
                    border-top: none;
                }
            }
        }
        .non_view{
            display: none;
        }
    }
    .check_in_block{
        .form_check_in{
            .search_reserve{
                height: 40px;
            }
        }
    }
}

.resorts,.add_services{
    flex-direction: column;
    padding: 50px 0;
    .resort_cards_block,.add_services_block{
        margin-top: 50px;
        align-items: flex-start;
        a{
            display: inline-block;
        }
        .resort_card,.add_services_card{
            display: flex;
            flex-direction: column;
            .resotr_img,.add_services_img{
                width: 350px;
                height: 350px;
            }
            .shortdesk_resort,.shortdesk_add_services{
                padding: 10px;
                .title_resort,.title_add_services{
                    color: $light_green;
                    max-width: 300px;
                }
                .starting_price,.add_services_price{
                    font-size: $fz_last;
                }
            }
            
            &:hover{
                margin-top: -30px;
                margin-bottom: 30px;
                box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
            }
        }
    }
}

.reviews_block{
    flex-direction: column;
    margin-top: 50px;
    .reviews_block__cards{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 30px;
       
        .reviews_block__cards__item{
            width: 30%;
            padding: 10px;
            margin-bottom: 50px;
            box-shadow: 0px 15px 18px 5px rgba(34,60,80, $alpha: 0.2);
            .reviews_block__cards__item__name_user{
                font-weight: bold;
                font-size: $fz_second;
            }
            .reviews_block__cards__item__date{
                font-style: italic;
                margin-top: 10px;
            }
            .reviews_block__cards__item__text_review{
                margin-top: 20px;
                word-wrap: break-word;
            }
        }
    }
}

#section__review_send{
    form{
        width: 100%;
        position: relative;
        @include preload_send_data_server;
        .overlay_form_active{
            height: 100%;
        }
        .check_mark_review_form{
            height: 0;
            img{
                height: 0;
            }
        }
        .check_mark_image__active{
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #name_user{
            width: 100%;
            height: 40px;
            border-bottom: 1px solid $black_gray;
        }
        #review_text{
            margin-top: 30px;
            width: 100%;
            height: 150px;
            resize: none;
            padding: 10px;
            box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
        }
        #btn_send_review{
            margin-top: 30px;
        }
    }
}
@media (max-width: 1160px) {
    .work_with_flights{
        .search_tickets_block{
            .form_search_tickets{
                flex-direction: column;
                .form_search_block_inputs{
                    width: 100%;
                    &:not(:last-child){
                        margin-right: 0;
                    }
                    &:not(:first-child){
                        margin-top: 20px;
                    }
                    .dropdown{
                        width: 100%;
                        &.dd_count_pass{
                            width: 100%;
                        }
                        .input_count_pass_block{
                            width: 100%;
                        }
                        .input_search_flights{
                            width: 100%;
                        }
                        .dropdown_content{
                            width: 100%;
                        }
                    }
                    .min_input{
                        width: 100%;
                    }
                    #btn_search{
                        width: 100%;
                    }
                }
            }
        }
    }
    .resorts,.add_services{
        .resort_cards_block,.add_services_block{
            .resort_card,.add_services_card{
                a{
                    .resotr_img,.add_services_img{
                        width: 320px;
                        height: 320px;
                    }
                    .shortdesk_resort,.shortdesk_add_services{
                        width: 320px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1130px) {
    .work_with_flights{
        .search_tickets_block{
            .form_search_tickets{
                .form_search_block_inputs{
                    &:nth-last-child(-n+2){
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .check_in_block{
        .form_check_in{
            flex-direction: column;
            input,button{
                width: 100%;
            }
            #input_info_ticket_reserv{
                margin-top: 20px;
            }
            button{
                margin-top: 20px;
            }
        }
    }
}
@media (max-width: 1000px) {
    .resorts,.add_services{
        .resort_cards_block,.add_services_block{
            .resort_card,.add_services_card{
                a{
                    .resotr_img,.add_services_img{
                        width: 270px;
                        height: 270px;
                    }
                    .shortdesk_resort,.shortdesk_add_services{
                        width: 270px;
                        .title_add_services,.title_resort{
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 850px) {
    .resorts,.add_services{
        .resort_cards_block,.add_services_block{
            .resort_card,.add_services_card{
                a{
                    .resotr_img,.add_services_img{
                        width: 230px;
                        height: 230px;
                    }
                    .shortdesk_resort,.shortdesk_add_services{
                        width: 270px;
                    }
                }
            }
        }
    }
}
@media (max-width: 790px) {
    .resorts,.add_services{
        .resort_cards_block,.add_services_block{
            .resort_card,.add_services_card{
                a{
                    .resotr_img,.add_services_img{
                        width: 200px;
                        height: 200px;
                    }
                    .shortdesk_resort,.shortdesk_add_services{
                        width: 200px;
                        .title_add_services,.title_resort{
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
    .reviews_block{
        .reviews_block__cards{
            flex-direction: column;
            .reviews_block__cards__item{
                width: 100%;
            }
        }
    }
}
@media (max-width: 640px) {
    .resorts,.add_services{
        .resort_cards_block,.add_services_block{
            flex-direction: column;
            .resort_card,.add_services_card{
                &:not(:first-child){
                    margin-top: 50px;
                }
                width: 100%;
                a{
                    .resotr_img,.add_services_img{
                        width: 100%;
                        height: auto;
                    }
                    .shortdesk_resort,.shortdesk_add_services{
                        width: 100%;
                        .title_add_services,.title_resort{
                            font-size: 22px;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 520px) {
    #section__review_send{
        form{
            #btn_send_review{
                width: 100%;
            }
        }
    }
}
@media (max-width: 400px) {
    .work_with_flights{
        .flights_list{
            li{
                font-size: $fz_base;
                text-align: center;
            }
        }
    }
}