@import '../overall_style.scss';
@import '../header.scss';
.my_profile_block{
    margin-top: 50px;
    align-items: flex-start;
    font-size: $fz_second;
    .non_view__text_mobile{
        display: none;
    }
    .exit_profile_link{
        padding: 0;
        width: 100%;
        text-align: left;
        margin-top: 20px;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid $green;
        }
    }
    .aside_bar_user{
        width: 25%;
        margin-right: 20px;
        .aside_user__list{
            .aside_user__list__item{
                border: 1px solid $gray_5;
                border-top: 0;
                border-left: 0;
                &:first-child{
                    padding: 20px;
                    .aside_user__list__item__short_name__exit_block{
                        .aside_user__list__item__short_name__exit_block__text{
                            color: $black;
                            max-width: 150px;
                        }
                    }
                }
                .aside_user__list__item__short_name__exit_block,.aside_user__list__item__btn{
                    font-size: $fz_second;
                    color: $black_gray;
                    &:hover{
                        color: $black;
                    }
                }
                .aside_user__list__item__btn{
                    width: 100%;
                    text-align: left;
                    padding: 20px;
                }
                .aside_user__list__item__img_block{
                    max-width: 70px;
                    .aside_user__list__item__img_block__img{
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                &.aside_user__list__item_active{
                    .aside_user__list__item__btn{
                        color: $black;
                    }
                    border-right: 0;
                }
            }
        }
    }
    .profile_data_cards{
        width: 75%;
        position: relative;
        padding-right: 0;
        margin-left: 20px;
        h2,h3{
            margin: 0;
        }
        .control_panel_block,.personal_data_block,.my_travel_block,.update_password_block{
            background: $white;
            box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
            padding: 20px;
            
        }
        .control_panel_block{
            line-height: 25px;
            .control_panel_block__full_name_user{
                font-weight: bold;
            }
            .exit_profile_link{
                width: auto;
                margin-top: 0;
                color: red;
                padding-bottom: 2px;
            }
            p:last-child{
                margin-top: 35px;
            }
        }
        .personal_data_block{
            .personal_data_block__update_form{
                margin-top: 40px;
                .personal_data_block__update_form__input_block{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    &:not(:first-child){
                        margin-top: 20px;
                    }
                    label{
                        position: relative;
                    }
                    .btn_show,.btn_hide,.personal_data_block__update_form__dropbtn{
                        position: absolute;
                        top: 50%;
                        right: 0;
                    }
                    .personal_data_block__update_form__dropbtn{
                        font-size: $fz_second;
                    }
                    &:nth-last-child(-n+3){
                        .personal_data_block__update_form__input_block__input{
                            padding-right: 40px;
                        }
                    }
                    #type_document_user,#gender_user{
                        cursor: pointer;
                    }
                    #date_birthday_user::-webkit-calendar-picker-indicator {
                        background: transparent;
                        bottom: 0;
                        color: transparent;
                        cursor: pointer;
                        height: auto;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: auto;
                    }
                    .personal_data_block__update_form__gender_list,.personal_data_block__update_form__type_document_list,.personal_data_block__update_form__country_of_issue_list{
                        transform-origin: 0 0;
                        transform: scaleY(0);
                        background: $white;
                        display: flex;
                        flex-direction: column;
                        height: 0;
                        max-height: 200px;
                        overflow-y: auto;
                        border-top: 0;
                        border-bottom: 1px solid $gray_3;
                        position: relative;
                        width: 100%;
                        z-index: 1000;
                        @include custom_scroll_bar;
                        .personal_data_block__update_form__gender_list__item,.personal_data_block__update_form__type_document_list__item,.personal_data_block__update_form__country_of_issue_list__item{
                            padding: 10px;
                            border:1px solid $gray_3;
                            background: $white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: $black;
                            &:hover{
                                cursor: pointer;
                                background: $gray_4;
                            }
                            &:last-child{
                                border-bottom: none;
                            }
                            &:not(:first-child){
                                border-top: none;
                            }
                        }
                        .select_list__item{
                            background: $light_green_2;
                        color: $white;
                        &:hover{
                            color: $black;
                            background: $light_green_2;
                        }
                        }
                    }
                    .show_drop_content{
                        transform: scaleY(1);
                        height: 100%;
                        // position: relative;
                    }
                    #btn_submit_update_personal_data{
                        width: 100%;
                    }
                }
            }
        }
        .my_travel_block{
            .my_travel_block__cards{
                margin-top: 30px;
                .my_travel_block__cards__item{
                    background-color: $white;
                    border: 1px solid rgba($color: $black_gray, $alpha: .5);
                    padding: 10px;
                    &:not(:first-child){
                        margin-top: 20px;
                    }
                    .short_flight_scheme__block{
                        display: flex;
                    }
                    .short_details_order{
                        font-size: $fz_base;
                        .name_order{
                            font-weight: bold;
                            font-size: $fz_second;
                        }
                        .sing_flight{
                            margin:0 15px;
                        }
                        .details_city{
                            margin-top: 5px;
                            .time_flight{
                                margin: 0 10px;
                            }
                        }
                        .status_order{
                            .status_order__name{
                                margin-right: 20px;
                            }
                        }
                        .price_order{
                            font-size: $fz_second;
                        }
                    }
                }
                .more_travel_block__card{
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
        .update_password_block{
            .update_password_block__update_form{
                margin-top: 40px;
                .update_password_block__update_form__input_block{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    &:not(:first-child){
                        margin-top: 20px;
                    }
                    label{
                        position: relative;
                    }
                    .btn_show,.btn_hide{
                        position: absolute;
                        top: 50%;
                        right: 0;
                    }
                }
                .update_password_block__btn_update{
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
        .profile_data_cards_non_view{
            display: none;
            opacity: 0;
            position: absolute;
            margin-top: -5000px;
        }
    }
}
.profile_data_cards__anim{
    position: absolute;
    animation: slidein_personal_data 0.6s ease-in-out;
    width: 100%;
}
.profile_data_cards__complete_anim{
    // margin-top: -5000px;
    // opacity: 0;
    display: none;
}

@media (max-width: 1000px) {
    .my_profile_block{
        .non_view__text_mobile{
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: $fz_second;
        }
        .aside_bar_user{
            .aside_user__list{
                .aside_user__list__item{
                    .aside_user__list__item__short_name__exit_block,.aside_user__list__item__btn{
                        font-size: $fz_base;
                    }
                    .aside_user__list__item__img_block{
                        max-width: 50px;
                    }
                }
            }
        }
        .profile_data_cards{
            .my_travel_block{
                .my_travel_block__cards{
                    .my_travel_block__cards__item{
                        .short_flight_scheme{
                            flex-direction: column;
                            align-items: flex-start;
                            .short_flight_scheme__block{
                                flex-direction: column;
                            }
                        }
                        .short_details_order{
                            // flex-direction: column;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 870px) {
    .my_profile_block{
        .aside_bar_user{
            width: 220px;
            margin-right: 0;
        }
    }
}
@media (max-width:830px) {
    .profile_data_cards{
        .my_travel_block{
            .my_travel_block__cards{
                .my_travel_block__cards__item{
                    .short_details_order{
                        // flex-direction: column;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        justify-content: start;
                        .name_order{
                            width: 130px
                        }
                        .short_flight_scheme{
                            min-width: 250px;
                            .short_flight_scheme__block{
                                flex-direction: row;
                            }
                        }
                        .status_order{
                            width: 250px;
                            margin-top: 20px;
                        }
                        .price_order{
                            width:250px;
                            margin-top: 20px;
                        }
                    }
                    
                }
            }
        }
    }
}
@media (max-width: 670px) {
    .my_profile_block {
        flex-direction: column;
        .aside_bar_user{
            width: 100%;
            .aside_bar_user__mobile_short_info{
                display: flex;
                .aside_bar_user__mobile_short_info__img{
                    width: 70px;
                    border-radius: 50%;
                }
                .aside_bar_user__mobile_short_info__username{
                    margin-left: 30px;
                }
            }
            .aside_user__list{
                display: flex;
                margin-top: 20px;
                width: 100%;
                .aside_user__list__item{
                    margin: 0;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #E5E5E5;
                    border-left: 0;
                    width: 25%;
                    &:first-child{
                        display: none;
                    }
                    &:nth-child(2){
                        border-left: 1px solid #E5E5E5;
                    }
                    .aside_user__list__item__btn{
                        padding: 10px;
                        font-size: 12px;
                        line-height: 20px;
                        text-align: center;
                    }
                    &.aside_user__list__item_active{
                        border-right: 1px solid #E5E5E5;
                    }
                }
            }
        }
        .profile_data_cards{
            margin: 0;
            margin-top: 50px;
            width: 100%;
        }
    }
}
@media (max-width: 540px) {
    .my_profile_block {
        .aside_bar_user{
            .aside_user__list{
                .aside_user__list__item{
                    padding: 5px;
                    .aside_user__list__item__btn{
                        // padding: 0;
                        font-size: 12px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width: 450px) {
    .my_profile_block {
        .aside_bar_user{
            .aside_user__list{
                flex-direction: column;
                .aside_user__list__item{
                    width: 100%;
                    border: 1px solid #E5E5E5;
                    &:not(:last-child){
                        border-bottom: 0;
                    }
                    .aside_user__list__item__btn{
                        padding: 0;
                    }
                }
            }
        }
    }
    .profile_data_cards{
        .my_travel_block{
            .my_travel_block__cards{
                .my_travel_block__cards__item{
                    .short_details_order{
                        .short_flight_scheme{
                            // min-width: 250px;
                            margin-top: 20px;
                            .short_flight_scheme__block{
                                flex-direction: column;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
@import '../footer.scss';