.non_view{
    display: none;
}
.footer_bottom{
    flex: 0 0 auto;
}
#footer{
    background: $white;
    padding: 50px 0;
    border-top: 1px solid $gray_5;
    margin-top: 50px;
}
.footer_section{
    .footer_info{
        display: flex;
        justify-content: space-between;
        &:first-child{
            @include sub_menu_list_footer_and_header;
        }
        &:last-child{
            align-items: center;
            margin-top: 50px;
            .logo_image{
                width: 250px;
            }
            .link_header{
                svg{
                    width: 50px;
                    height: 50px;
                    &:hover{
                        fill: $blue;
                        circle{
                            stroke: $blue;
                        }
                    }
                }
            }
        }
        
    }
    
}