.top_header_page{
    height: 100%;
}
.df_flc_h100{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header_flex{
    flex: 0 0 auto;
}
.content_flex{
    flex: 1 0 auto;
}
.footer_flex{
    flex: 0 1 auto;
}
.non_view{
    display: none;
}
#header{
    // transition: 0.3s;
    border-bottom: 1px solid $gray_5;
    padding: 30px 0;
    z-index: 1000;
    background: $gray_1;
    position: relative;
    .additional_sub_menu{
        position: absolute;
        top: 105px;
        left: 0;
        right: 0;
        background: $white;
        border-bottom: 1px solid $gray_5;
        border-top: 1px solid $gray_5;
        box-shadow: 0 10px 5px -1px rgba($color: $black_gray, $alpha: 0.7);
        transform-origin: 0 0;
        transform: scaleY(0);
        .container{
            padding: 30px 10px;
            align-items: flex-start;
            // @include sub_menu_list_footer_and_header;
            .add_sub_menu_list{
                display: flex;
                flex-direction: column;
                .sub_menu__item{
                    &:not(:first-child){
                        margin-top: 20px;
                    }
                    .sub_menu__link{
                        width: 210px;
                        display: block;
                        padding-bottom: 3px;
                        border-bottom: 2px solid transparent;
                        
                        &:hover{
                            border-color: $light_green;
                        }
                    }
                }
            }
        }
    }
    .additional_sub_menu__view{
        transform: scaleY(1);
    }
    .non_view{
        display: none;
    }
    .fas{
        // transition: 0.3s;
        font-size: $fz_last;
        cursor: pointer;
        &:hover{
            color: $light_green;
        }
    }
    .fa-ruble-sign{
        font-size: $fz_base;
    }
    .d_menu{
        .left_col{
            .btn_additional_menu{
                padding: 0;
                margin-right: 30px;
                width: 18px;
                height: 20px;
            }
        }
        .search{
            .form_search{
                .span_big_input{
                    position: relative;
                    
                    .search_input{
                        border-bottom: 1px solid $black_gray;
                        transition: 0.8s;
                        &:focus{
                            border-bottom: 1px solid $black;
                        }
                    }
                    .bottom_slider_big_input{
                        position: absolute;
                        display:block;
                        left: 0;
                        top: 39px;
                        margin:0 auto;
                        height: 1px;
                        background-color: $black;
                        width: 0%;
                        transition: width 1s;
                    }
                    &:hover .bottom_slider_big_input{
                        width: 100%;
                    }
                }
                
            }
        }
        .nav_menu{
            .geo_posistion_people{
                margin-right: 20px;
                position: relative;
                transition: 0.1s;
                cursor: pointer;
                &:hover{
                    color: $light_green;
                }
                .fa-globe{
                    margin-right: 20px;
                }
                .geo_info{
                    border-bottom: 1px solid transparent;
                    padding-bottom: 2px;
                   
                }
                .language_currency{
                    color: $black;
                    transform-origin: 0 0;
                    transform: scaleY(0);
                    top: 25px;
                    right: 0;
                    display: flex;
                    margin-bottom: 10px;
                    max-height: 188px;
                    // width: 400px;
                    overflow-y: auto;
                    // border-top: 0;
                    border: 1px solid $gray_3;
                    position: absolute;
                    z-index: 1000;
                    background: $white;
                    @include custom_scroll_bar;
                    .country_currency{
                        &:first-child{
                            width: 150px;
                            .country_currency__item{
                                border-bottom: 1px solid $gray_3;
                            }
                        }
                        &:last-child{
                            width: 250px;
                            .country_currency__item{
                                border-bottom: 1px solid $gray_3;
                                border-left: 1px solid $gray_3;
                            }
                        }
                        .country_currency__item{
                            padding: 10px;
                            background: $white;
                            display: flex;
                            align-items: center;
                            span{
                                display: flex;
                                align-items: center;
                                .lang_img{
                                    width: 14px;
                                    height: 14px;
                                    margin: 0 10px;
                                }
                                .fas{
                                    margin: 0 10px;
                                    font-size: $fz_second;
                                }
                            }
                            &:hover{
                                cursor: auto;
                            }
                            &:last-child{
                                border-bottom: none;
                            }
                        }
                    }
                    
                }
                .language_currency_active{
                    transform: scaleY(1);
                }
            }
            // .my_cabinet{

            // }
        }
    }
    #mobile_search_geo{
        display: none;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        .search_mobile{
            width: 100%;
            .form_search_mobile{
                width: 100%;
                .span_big_input{
                    position: relative;
                    width: 100%;
                    .search_mobile_input{
                        width: 100%;
                        border-bottom: 1px solid $black_gray;
                        transition: 0.8s;
                        &:focus{
                            border-bottom: 1px solid $black;
                        }
                    }
                    .bottom_slider_big_input{
                        position: absolute;
                        display:block;
                        left: 0;
                        top: 39px;
                        margin:0 auto;
                        height: 1px;
                        background-color: $black;
                        width: 0%;
                        transition: width 1s;
                    }
                    &:hover .bottom_slider_big_input{
                        width: 100%;
                    }
                }
                
            }
        }
        .geo_posistion_people_mobile{
            display: flex;
            justify-content: space-between;
            margin-left: 30px;
            width: 135px;
            .geo_info{
                margin-left: 0px;
                width: auto;
            }
        }
    }
    
}

@media (max-width: 940px) {
    #header{
        .d_menu{
            // .left_col{

            // }
            .search{
                .form_search {
                    .span_big_input{
                        .search_input{
                            width: 400px;
                        }
                    }
                }
            }
            .nav_menu{
                .geo_posistion_people{
                    .fa-globe,.geo_info{
                        // display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 870px){
    #header{
        .d_menu{
            .search{
                .form_search {
                    .span_big_input{
                        .search_input{
                            width: 300px;
                        }
                    }
                }
            }
        }
        .additional_sub_menu{
            .container{
                .add_sub_menu_list{
                    .sub_menu__item{
                        .sub_menu__link{
                            width: 170px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 780px){
    #header{
        padding: 15px 0;
        .d_menu{
            .search{
                display: none;
            }
            .nav_menu{
                .geo_posistion_people{
                    .fa-globe,.geo_info{
                        display: none;
                    }
                }
            }
        }
        #mobile_search_geo{
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            .geo_posistion_people_mobile{
                align-items: center;
                width: auto;
                align-items: center;
                margin-left: 0;
                margin-top: 15px;
                .fa-globe{
                    display: none;
                }
            }
        }
        .additional_sub_menu{
            @include custom_scroll_bar;
            box-shadow: none;
            border-bottom: none;
            top: 161px;
            .container{
                display: flex;
                flex-direction: column;
                padding: 30px 0;
                padding-bottom: 0px;
                border-bottom: none;
                .add_sub_menu_list{
                    width: 100%;
                    .sub_menu__item{
                        width: 100%;
                        &:nth-child(n){
                            margin-top: 0;
                        }
                        .sub_menu__link{
                            width: 100%;
                            font-size: 20px;
                            border-bottom: 1px solid $gray_5;
                            
                            padding: 15px
                        }
                    }
                }
            }
        }
        .additional_sub_menu__view{
            z-index: 2000;
            // max-height: 100vh;
            // overflow: hidden;
        }
    }
}
@media (max-width: 640px) {
    // #header{
    //     padding: 15px 0;
    //     #mobile_search_geo{
    //         flex-direction: column;
    //         margin-top: 15px;
    //         .geo_posistion_people_mobile{
    //             width: auto;
    //             align-items: center;
    //             margin-left: 0;
    //             margin-top: 15px;
    //         }
    //     }
    // }
}
// @media (max-width: 500px) {
//     #header{
//         padding: 15px 0;
//         #mobile_search_geo{
//             margin-top: 15px;
//             .geo_posistion_people_mobile{
//                 margin-top: 15px;
//             }
//         }
//     }
// }