#header{
    border: 1px solid $gray_5;
    padding: 30px 0;
    .fas{
        transition: 0.6s;
        font-size: $fz_last;
        cursor: pointer;
        &:hover{
            color: red;
        }
    }
    .fa-ruble-sign{
        font-size: $fz_base;
    }
    .d_menu{
        .search{
            .form_search{
                .span_big_input{
                    position: relative;
                    
                    .search_input{
                        border-bottom: 1px solid $black_green;
                        transition: 1s;
                        &:focus{
                            border-bottom: 1px solid $black;
                        }
                    }
                    .bottom_slider_big_input{
                        position: absolute;
                        display:block;
                        left: 0;
                        top:97%;
                        margin:0 auto;
                        height: 1px;
                        background-color: $black;
                        width: 0%;
                        transition: width 1s;
                    }
                    &:hover .bottom_slider_big_input{
                        width: 100%;
                    }
                }
                
            }
        }
        .nav_menu{
            .geo_posistion_people{
                margin-right: 20px;
                position: relative;
                .fa-globe{
                    margin-right: 20px;
                    cursor: auto;
                }
                .geo_info{
                    border-bottom: 1px solid transparent;
                    padding-bottom: 2px;
                    cursor: pointer;
                }
                .country_currency{
                    transform-origin: 0 0;
                    transform: scaleY(0);
                    top: 30px;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    max-height: 188px;
                    width: 150px;
                    overflow-y: scroll;
                    border-top: 0;
                    border-bottom: 1px solid $gray_3;
                    position: absolute;
                    z-index: 1000;
                    @include custom_scroll_bar;
                    .country_currency__item{
                        padding: 6px 12px;
                        border-bottom: 1px solid $gray_3;
                        border-left: 1px solid $gray_3;
                        background: $white;
                        &:hover{
                            cursor: pointer;
                            background: $gray_4;
                        }
                    }
                }
                .country_currency_active{
                    transform: scaleY(1);
                }
            }
            .my_cabinet{

            }
        }
    }
}
