#header{
    border: 1px solid $gray_5;
    padding: 30px 0;
    .fas{
        transition: 0.6s;
        font-size: $fz_last;
        cursor: pointer;
        &:hover{
            color: red;
        }
    }
    .fa-ruble-sign{
        font-size: $fz_base;
    }
    .d_menu{
        .logo_image{
            width: 150px;
            .link_header{
                img{
                    max-width: 100%;
                }
            }
        }
        .search{
            .form_search{
                .span_big_input{
                    position: relative;
                    
                    .search_input{
                        border-bottom: 1px solid $black_green;
                        transition: 1s;
                        &:focus{
                            border-bottom: 1px solid $black;
                        }
                    }
                    .bottom_slider_big_input{
                        position: absolute;
                        display:block;
                        left: 0;
                        top:97%;
                        margin:0 auto;
                        height: 1px;
                        background-color: $black;
                        width: 0%;
                        transition: width 1s;
                    }
                    &:hover .bottom_slider_big_input{
                        width: 100%;
                    }
                }
                
            }
        }
        .nav_menu{
            .geo_posistion_people{
                margin-right: 20px;
                .fa-globe{
                    margin-right: 20px;
                    cursor: auto;
                }
            }
            .my_cabinet{

            }
        }
    }
}
