// colors
$light_green: #52C9B9;
$light_green_2: #84C2AD;
$green: #8CDE4E;
$black_gray: #BEBEBE;
$black_gray_2: #999999;
$black: #222222;
$gray_1: #FDFDFD;
$white: #ffffff;
$gray_2: #f9f9fd;
$gray_3: #eeeeee;
$gray_4: #F7F7F7;
$gray_5: #E5E5E5;
$blue: #004369;
// colors

// font-size
$fz_base: 14px;
$fz_second: 16px;
$fz_last: 20px;
$fz_h1: 32px;
$fz_h2: 24px;
$fz_h3: 20px;
// font-size

// mixin
@mixin custom_scroll_bar {
    &::-webkit-scrollbar {
        width: 7px;
        background-color: $gray_2;
    }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $blue;
    }
      
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: $gray_2;
    }
}
@mixin custom_scroll_bar_body {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: $gray_2;
    }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $blue;
    }
      
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: $gray_2;
    }
}
$prefixes: ("-moz-", "");
@mixin selection($color, $background) {
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            color: $color;
            background: $background;
        }
    }
}

@mixin input_overall_style {
    height: 40px;
    font-weight: 400;
}

@mixin sub_menu_list_footer_and_header {
    // .add_sub_menu_list{
    //     display: flex;
    //     flex-direction: column;
    //     .sub_menu__item{
    //         &:not(:first-child){
    //             margin-top: 20px;
    //         }
    //         .sub_menu__link{
    //             width: 210px;
    //             display: block;
    //             padding-bottom: 3px;
    //             border-bottom: 2px solid transparent;
                
    //             &:hover{
    //                 border-color: $light_green;
    //             }
    //         }
    //     }
    // }
}

@mixin preload_send_data_server{
    .overlay_form_active{
        position: absolute;
        width: 100%;
        height: 96.5%;
        z-index: 999999;
        background: $white;
        opacity: 0.7;
        #fountainG{
            position:relative;
            width:192px;
            height:23px;
            margin:auto;
            margin-top: 20%;
        }
        
        .fountainG{
            position:absolute;
            top:0;
            background-color:rgb(0,0,0);
            width:23px;
            height:23px;
            animation-name:bounce_fountainG;
                -o-animation-name:bounce_fountainG;
                -ms-animation-name:bounce_fountainG;
                -webkit-animation-name:bounce_fountainG;
                -moz-animation-name:bounce_fountainG;
            animation-duration:0.845s;
                -o-animation-duration:0.845s;
                -ms-animation-duration:0.845s;
                -webkit-animation-duration:0.845s;
                -moz-animation-duration:0.845s;
            animation-iteration-count:infinite;
                -o-animation-iteration-count:infinite;
                -ms-animation-iteration-count:infinite;
                -webkit-animation-iteration-count:infinite;
                -moz-animation-iteration-count:infinite;
            animation-direction:normal;
                -o-animation-direction:normal;
                -ms-animation-direction:normal;
                -webkit-animation-direction:normal;
                -moz-animation-direction:normal;
            transform:scale(.3);
                -o-transform:scale(.3);
                -ms-transform:scale(.3);
                -webkit-transform:scale(.3);
                -moz-transform:scale(.3);
            border-radius:15px;
                -o-border-radius:15px;
                -ms-border-radius:15px;
                -webkit-border-radius:15px;
                -moz-border-radius:15px;
        }
        
        #fountainG_1{
            left:0;
            animation-delay:0.336s;
                -o-animation-delay:0.336s;
                -ms-animation-delay:0.336s;
                -webkit-animation-delay:0.336s;
                -moz-animation-delay:0.336s;
        }
        
        #fountainG_2{
            left:24px;
            animation-delay:0.4225s;
                -o-animation-delay:0.4225s;
                -ms-animation-delay:0.4225s;
                -webkit-animation-delay:0.4225s;
                -moz-animation-delay:0.4225s;
        }
        
        #fountainG_3{
            left:48px;
            animation-delay:0.509s;
                -o-animation-delay:0.509s;
                -ms-animation-delay:0.509s;
                -webkit-animation-delay:0.509s;
                -moz-animation-delay:0.509s;
        }
        
        #fountainG_4{
            left:72px;
            animation-delay:0.5955s;
                -o-animation-delay:0.5955s;
                -ms-animation-delay:0.5955s;
                -webkit-animation-delay:0.5955s;
                -moz-animation-delay:0.5955s;
        }
        
        #fountainG_5{
            left:96px;
            animation-delay:0.672s;
                -o-animation-delay:0.672s;
                -ms-animation-delay:0.672s;
                -webkit-animation-delay:0.672s;
                -moz-animation-delay:0.672s;
        }
        
        #fountainG_6{
            left:120px;
            animation-delay:0.7585s;
                -o-animation-delay:0.7585s;
                -ms-animation-delay:0.7585s;
                -webkit-animation-delay:0.7585s;
                -moz-animation-delay:0.7585s;
        }
        
        #fountainG_7{
            left:144px;
            animation-delay:0.845s;
                -o-animation-delay:0.845s;
                -ms-animation-delay:0.845s;
                -webkit-animation-delay:0.845s;
                -moz-animation-delay:0.845s;
        }
        
        #fountainG_8{
            left:168px;
            animation-delay:0.9315s;
                -o-animation-delay:0.9315s;
                -ms-animation-delay:0.9315s;
                -webkit-animation-delay:0.9315s;
                -moz-animation-delay:0.9315s;
        }
        
        
        
        @keyframes bounce_fountainG{
            0%{
            transform:scale(1);
                background-color:rgb(0,0,0);
            }
        
            100%{
            transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }
        
        @-o-keyframes bounce_fountainG{
            0%{
            -o-transform:scale(1);
                background-color:rgb(0,0,0);
            }
        
            100%{
            -o-transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }
        
        @-ms-keyframes bounce_fountainG{
            0%{
            -ms-transform:scale(1);
                background-color:rgb(0,0,0);
            }
        
            100%{
            -ms-transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }
        
        @-webkit-keyframes bounce_fountainG{
            0%{
            -webkit-transform:scale(1);
                background-color:rgb(0,0,0);
            }
        
            100%{
            -webkit-transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }
        
        @-moz-keyframes bounce_fountainG{
            0%{
            -moz-transform:scale(1);
                background-color:rgb(0,0,0);
            }
        
            100%{
            -moz-transform:scale(.3);
                background-color:rgb(255,255,255);
            }
        }
    }
}
*,*::after,*::before{
    border:none;
    background: none;
    outline: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s;
    outline-offset: 0px;
    @include selection(white, $light_green);
    scroll-behavior: smooth;
    font-family: 'Roboto-Regular',sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*::after,*::before{
    font-family: "Font Awesome 5 Free";
}
html{
    scroll-behavior: smooth;
}
h1,h2,h3{
    margin: 20px 0;
}
h1{
    font-size: $fz_h1;
}
h2{
    font-size: $fz_h2;
}
// mixin
body{
    background: $gray_1;
    font-size: 14px;
    @include custom_scroll_bar_body;
}
button,input{
    padding: 6px 12px;
}

a{
    color: $black;
    display: inline-block;
}
.df_jcspb_aic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.df_jcc_aic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.df_aic{
    display: flex;
    align-items: center;
}
button{
    cursor: pointer;
}

.upper{
    text-transform: uppercase;
}
.warning_text{
    color: red;
}
.non_view{
    display: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.min_input{
    width: 150px;
    @include input_overall_style;
    border: 1px solid $black_gray;
    // padding-right: 35px;
}
.sm_input{
    width: 250px;
    @include input_overall_style;
    border: 1px solid $black_gray;
    padding-right: 35px;
}
.sm_input_2{
    width: 322px;
    @include input_overall_style;
    border: 1px solid $black_gray;
    padding-right: 35px;
    font-size: $fz_second;
}
.md_input{
    width: 400px;
    @include input_overall_style;
    border: 1px solid $black_gray;
}
.big_input{
    width: 500px;
    @include input_overall_style;
    font-size: $fz_second;
}
.super_big_input{
    width: 700px;
    font-size: $fz_second;
    border: 1px solid $black_gray;
    @include input_overall_style;
}
.input_style_pofile{
    @include input_overall_style;
    width: 100%;
    font-size: $fz_second;
    border: 1px solid $black_gray;
    margin-top: 10px;
}
input[type="button"]{
    cursor: pointer;
    text-align: left;
}

.rotate_180{
    transform-origin: center;
    transform: rotate(180deg);
}

.btn_style_1{
    width: 240px;
    font-weight: 700;
    font-size: $fz_base;
    background: $light_green;
    height: 35px;
    color: $white;
    @keyframes pulse {
        0% { 
            box-shadow: 0 0 0 0 $light_green;
        }
    }
    &:hover{
        background: $blue;
    }
    // &:hover{
    //     animation: pulse 0.8s;
    //     box-shadow: 0 0 0 2em rgba($white,0);
    //     color: $black;
    // }
}
@keyframes slidein {
    0% {
        margin-top: -25px;
    }
    100%{
        margin-top: 0px;
    }
}
@keyframes slidein_personal_data {
    0% {
        margin-top: 0px;
    }
    50%{
        margin-top: -25px;
    }
    100%{
        margin-top: 0px;
    }
}
.btn_style_2{
    .fas{
        font-size: 60px;
        color: $white;
    }
}
.btn_style_3{
    font-size: $fz_second;
    padding: 10px 20px;
    border-bottom: 1px solid $black_gray;
    &:hover{
        background: $gray_5;
    }
}
.btn_style_red{
    background: #A90000;
    color: $white;
    border-radius: 5px;
}
.logo_image{
    width: 150px;
    .link_header{
        img{
            max-width: 100%;
        }
    }
}

.error_personal_data_visibly{
    margin-top: 20px;
    background: #A90000;
    color: $white;
    font-size: $fz_second;
    padding: 10px;
}