

// colors
$light_green: #52C9B9;
$light_green_2: #84C2AD;
$green: #8CDE4E;
$black_green: #BEBEBE;
$black_green_2: #999999;
$black: #222222;
$gray_1: #FDFDFD;
$white: #ffffff;
$gray_2: #f9f9fd;
$gray_3: #eeeeee;
$gray_4: #F7F7F7;
$gray_5: #E5E5E5;
// colors

// font-size
$fz_base: 14px;
$fz_second: 16px;
$fz_last: 20px;
$fz_h1: 32px;
$fz_h2: 26px;
// font-size

// mixin
@mixin custom_scroll_bar {
    &::-webkit-scrollbar {
        width: 7px;
        background-color: $gray_2;
    }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $light_green;
    }
      
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: $gray_2;
    }
}
@mixin custom_scroll_bar_body {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: $gray_2;
    }
      
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $light_green;
    }
      
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: $gray_2;
    }
}
$prefixes: ("-moz-", "");
@mixin selection($color, $background) {
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            color: $color;
            background: $background;
        }
    }
}

*{
    border:none;
    background: none;
    outline: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s;
    @include selection(white, $light_green);
    scroll-behavior: smooth;
    font-family: 'Roboto-Regular',sans-serif;
}
*::after,*::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1,h2,h3{
    margin: 20px 0;
}
h2{
    font-size: $fz_h2;
}
// mixin
body{
    background: $gray_1;
    // background: #F9F9F9;
    font-size: 14px;
    
    @include custom_scroll_bar_body;
}
button,input{
    padding: 6px 12px;
}

a{
    color: $black;
    display: inline-block;
}
.df_jcspb_aic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.df_jcc_aic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.df_aic{
    display: flex;
    align-items: center;
}
button{
    cursor: pointer;
}

.upper{
    text-transform: uppercase;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.min_input{
    width: 150px;
    height: 40px;
    font-weight: 400;
    border: 1px solid $black_green;
    padding-right: 35px;
}
.sm_input{
    width: 250px;
    height: 40px;
    font-weight: 400;
    border: 1px solid $black_green;
    padding-right: 35px;
}
.md_input{
    width: 400px;
    height: 40px;
    font-weight: 400;
    border: 1px solid $black_green;
}
.big_input{
    width: 500px;
    position: relative;
    height: 30px;
    font-size: $fz_second;
    font-weight: 400;
}
input[type="button"]{
    cursor: pointer;
    text-align: left;
    // color: $black_green;
}
// input::-webkit-input-placeholder{
//     color: $black_green;
// }
.rotate_180{
    transform-origin: center;
    transform: rotate(180deg);
}

.btn_style_1{
    width: 240px;
    font-weight: 700;
    font-size: $fz_base;
    background: $light_green;
    height: 35px;
    color: $white;
    // margin-left: 20px;
    outline-offset: 0px;
    @keyframes pulse {
        0% { 
            box-shadow: 0 0 0 0 $light_green;
        }
    }
    &:hover{
        animation: pulse 0.8s;
        box-shadow: 0 0 0 2em rgba($white,0);
        color: $black;
    }
}

.logo_image{
    width: 150px;
    .link_header{
        img{
            max-width: 100%;
        }
    }
}