*{
    border:none;
    background: none;
    outline: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

// colors
$black: #222;
$white: #fff;
// colors

// variable
$padding-xs: 20px;
$padding-sm: 60px;
$padding-b: 120px;

$fw-regular: 400px;
$fw-medium: 500px;
$fw-bold: 700px;

// variable

button,input{
    padding: 6px 12px;
}