* {
  border: none;
  background: none;
  outline: none;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s;
  scroll-behavior: smooth;
  font-family: "Roboto-Regular", sans-serif;
}
* ::-moz-selection {
  color: white;
  background: #52C9B9;
}
* ::selection {
  color: white;
  background: #52C9B9;
}

*::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  margin: 20px 0;
}

h2 {
  font-size: 26px;
}

body {
  background: #FDFDFD;
  font-size: 14px;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #f9f9fd;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #52C9B9;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

button, input {
  padding: 6px 12px;
}

a {
  color: #222222;
  display: inline-block;
}

.df_jcspb_aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.df_jcc_aic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.df_aic {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
}

.upper {
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.min_input {
  width: 150px;
  height: 40px;
  font-weight: 400;
  border: 1px solid #BEBEBE;
  padding-right: 35px;
}

.sm_input {
  width: 250px;
  height: 40px;
  font-weight: 400;
  border: 1px solid #BEBEBE;
  padding-right: 35px;
}

.md_input {
  width: 400px;
  height: 40px;
  font-weight: 400;
  border: 1px solid #BEBEBE;
}

.big_input {
  width: 500px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
}

.super_big_input {
  width: 700px;
  font-size: 16px;
  border: 1px solid #BEBEBE;
  height: 40px;
  font-weight: 400;
}

input[type=button] {
  cursor: pointer;
  text-align: left;
}

.rotate_180 {
  transform-origin: center;
  transform: rotate(180deg);
}

.btn_style_1 {
  width: 240px;
  font-weight: 700;
  font-size: 14px;
  background: #52C9B9;
  height: 35px;
  color: #ffffff;
  outline-offset: 0px;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #52C9B9;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #52C9B9;
  }
}
.btn_style_1:hover {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  color: #222222;
}

.logo_image {
  width: 150px;
}
.logo_image .link_header img {
  max-width: 100%;
}

.header_fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#header {
  transition: 0.5s;
  border-bottom: 1px solid #E5E5E5;
  padding: 30px 0;
  z-index: 1000;
  background: #FDFDFD;
  margin-bottom: 50px;
  position: relative;
}
#header .additional_sub_menu {
  position: absolute;
  top: 108px;
  left: 0;
  right: 0;
  background: #ffffff;
  border-bottom: 1px solid #E5E5E5;
  box-shadow: 0 10px 5px -1px rgba(190, 190, 190, 0.7);
  transform-origin: 0 0;
  transform: scaleY(0);
}
#header .additional_sub_menu .container {
  padding: 30px 10px;
  align-items: flex-start;
}
#header .additional_sub_menu .container .add_sub_menu_list {
  display: flex;
  flex-direction: column;
}
#header .additional_sub_menu .container .add_sub_menu_list .sub_menu__link {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}
#header .additional_sub_menu .container .add_sub_menu_list .sub_menu__link:not(:first-child) {
  margin-top: 20px;
}
#header .additional_sub_menu .container .add_sub_menu_list .sub_menu__link:hover {
  border-color: #52C9B9;
}
#header .additional_sub_menu .container .add_sub_menu_list .sub_menu__link .sub_menu__item {
  width: 210px;
}
#header .additional_sub_menu__view {
  transform: scaleY(1);
}
#header .non_view {
  display: none;
}
#header .fas {
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
}
#header .fas:hover {
  color: #52C9B9;
}
#header .fa-ruble-sign {
  font-size: 14px;
}
#header .d_menu .left_col .btn_additional_menu {
  padding: 0;
  margin-right: 30px;
  width: 18px;
  height: 20px;
}
#header .d_menu .search .form_search .span_big_input {
  position: relative;
}
#header .d_menu .search .form_search .span_big_input .search_input {
  border-bottom: 1px solid #BEBEBE;
  transition: 1s;
}
#header .d_menu .search .form_search .span_big_input .search_input:focus {
  border-bottom: 1px solid #222222;
}
#header .d_menu .search .form_search .span_big_input .bottom_slider_big_input {
  position: absolute;
  display: block;
  left: 0;
  top: 97%;
  margin: 0 auto;
  height: 1px;
  background-color: #222222;
  width: 0%;
  transition: width 1s;
}
#header .d_menu .search .form_search .span_big_input:hover .bottom_slider_big_input {
  width: 100%;
}
#header .d_menu .nav_menu .geo_posistion_people {
  margin-right: 20px;
  position: relative;
  transition: 0.1s;
  cursor: pointer;
}
#header .d_menu .nav_menu .geo_posistion_people:hover {
  color: #52C9B9;
}
#header .d_menu .nav_menu .geo_posistion_people .fa-globe {
  margin-right: 20px;
}
#header .d_menu .nav_menu .geo_posistion_people .geo_info {
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency {
  color: #222222;
  transform-origin: 0 0;
  transform: scaleY(0);
  top: 25px;
  right: 0;
  display: flex;
  margin-bottom: 10px;
  max-height: 188px;
  overflow-y: auto;
  border: 1px solid #eeeeee;
  position: absolute;
  z-index: 1000;
  background: #ffffff;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #52C9B9;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency:first-child {
  width: 150px;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency:first-child .country_currency__item {
  border-bottom: 1px solid #eeeeee;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency:last-child {
  width: 250px;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency:last-child .country_currency__item {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency .country_currency__item {
  padding: 10px;
  background: #ffffff;
  display: flex;
  align-items: center;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency .country_currency__item span {
  display: flex;
  align-items: center;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency .country_currency__item span .lang_img {
  width: 14px;
  height: 14px;
  margin: 0 10px;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency .country_currency__item span .fas {
  margin: 0 10px;
  font-size: 16px;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency .country_currency__item:hover {
  cursor: auto;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency .country_currency .country_currency__item:last-child {
  border-bottom: none;
}
#header .d_menu .nav_menu .geo_posistion_people .language_currency_active {
  transform: scaleY(1);
}
.form_auth {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
  margin: 20px 0;
}
.form_auth .form_auth_block {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form_auth .form_auth_block:last-child {
  flex-direction: row;
}
.form_auth .form_auth_block .form_auth_input {
  margin-top: 10px;
}
.form_auth .form_auth_block .btn {
  width: 400px;
}
.form_auth .form_auth_block .link_auth {
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  width: 142px;
}
.form_auth .form_auth_block .link_auth:hover {
  border-color: #52C9B9;
}
.form_auth .form_auth_block .link_auth:last-child {
  border-bottom: 2px solid #52C9B9;
}
.form_auth .form_auth_block .link_auth:last-child:hover {
  border-color: #8CDE4E;
}
.form_auth .form_auth_block .link_login_page {
  width: 110px;
}
.form_auth .form_auth_block .form_auth__row {
  display: flex;
}
.form_auth .form_auth_block .form_auth__row .stages_list {
  width: 700px;
}
.form_auth .form_auth_block .form_auth__row .stages_list .stages_list__item {
  font-weight: bold;
  color: #BEBEBE;
  font-size: 16px;
}
.form_auth .form_auth_block .form_auth__row .stages_list .stages_list__item.stages_list__item_active {
  color: #222222;
}
.form_auth .form_auth_block .form_auth__row .form_auth_block {
  display: flex;
  flex-direction: column;
}
.form_auth .form_auth_block .form_auth__row .form_auth_block .btn {
  width: 700px;
}
.form_auth .form_auth_block .form_auth__row .form_auth_block .form_auth_input {
  border: none;
  border-bottom: 1px solid #BEBEBE;
  display: inline-block;
}
.form_auth .form_auth_block .form_auth__row .form_auth_block .form_auth_input:after {
  display: block;
  content: "";
  border-bottom: 1px solid #222222;
  transform: scaleX(0);
  transition: transform 0.8s;
  transform-origin: 100% 50%;
}
.form_auth .form_auth_block .form_auth__row .form_auth_block .form_auth_input:hover:after {
  transform: scaleX(1);
}
.form_auth .form_auth_block .form_auth__row .form_auth_block .form_auth_input:hover:after {
  transform: scaleX(1);
}

.non_view {
  display: none;
}

#footer {
  background: #ffffff;
  padding: 50px 0;
  border-top: 1px solid #E5E5E5;
  margin-top: 50px;
}

.footer_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_section h2 {
  text-align: center;
}
.footer_section .link_contacts {
  padding: 6px 12px;
  font-weight: 700;
  color: #52C9B9;
  font-size: 20px;
}
.footer_section .link_contacts:hover {
  background: #8CDE4E;
  color: #ffffff;
}
.footer_section .footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
.footer_section .footer_info .logo_image {
  width: auto;
}
.footer_section .footer_info .logo_image .link_footer {
  width: 400px;
}
.footer_section .footer_info .logo_image .link_footer img {
  width: 300px;
}
.footer_section .footer_info .licensy {
  max-width: 500px;
}
.footer_section .footer_social_media a {
  padding-bottom: 3px;
}
.footer_section .footer_social_media a:last-child {
  margin-left: 30px;
}
.footer_section .footer_social_media a:hover {
  border-bottom: 1px solid #222222;
}
.footer_section .footer_social_media .fab {
  font-size: 32px;
}
