* {
  border: none;
  background: none;
  outline: none;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  color: #222;
  background: #f4f5f7;
}

button, input {
  padding: 6px 12px;
}

.upper {
  text-transform: uppercase;
}

.link {
  transition: 0.2s;
  color: #222;
  padding-bottom: 2px;
  border-bottom: 2px solid;
  border-color: transparent;
}
.link:hover, .link:focus {
  border-color: #ffa260;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 60px;
  border-radius: 10px;
}
.container .form_auth, .container .block_form_auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .form_auth .title_auth, .container .block_form_auth .title_auth {
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0;
  display: inline-block;
}
.container .form_auth .input_auth_block, .container .block_form_auth .input_auth_block {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .form_auth .input_auth_block .input_w_img_block, .container .block_form_auth .input_auth_block .input_w_img_block {
  display: flex;
}
.container .form_auth .input_auth_block .input_w_img_block input, .container .block_form_auth .input_auth_block .input_w_img_block input {
  border-bottom: 2px solid #d9d9d9;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
  transition: 0.2s;
}
.container .form_auth .input_auth_block .input_w_img_block input:focus, .container .block_form_auth .input_auth_block .input_w_img_block input:focus {
  border-bottom: 2px solid #222;
}
.container .form_auth .input_auth_block label, .container .block_form_auth .input_auth_block label {
  font-size: 16px;
}
.container .form_auth .auth_text, .container .block_form_auth .auth_text {
  margin-top: 20px;
}
.container .form_auth .btn_auth, .container .block_form_auth .btn_auth {
  margin-top: 100px;
  font-size: 20px;
  letter-spacing: 1px;
  border: 2px solid;
  border-color: #ffa260;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.2s;
}
.container .form_auth .btn_auth:hover, .container .form_auth .btn_auth:focus, .container .block_form_auth .btn_auth:hover, .container .block_form_auth .btn_auth:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  transform: translateY(-0.25em);
  border-color: #ffa260;
}
.container .form_auth .reg_block, .container .block_form_auth .reg_block {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.container .form_auth .reg_block .short_info_nav .reg_nav, .container .block_form_auth .reg_block .short_info_nav .reg_nav {
  display: flex;
  justify-content: space-between;
}
