@import '../overall_style.scss';
@import '../header.scss';
.form_auth{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $gray_5;
    box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
    margin: 20px 0;
    min-height: 420px;
    justify-content: flex-start;
    h1{
        margin-bottom: 5px;
    }
    .form_auth_block{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 20px;
        &:last-child{
            flex-direction: row;
        }
        .form_auth_input{
            margin-top: 10px;
        }
        .btn{
            width: 400px;
        }
        .link_auth{
            text-align: center;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            width: 142px;
            // &:hover{
            //     border-color: $blue;
            // }
            &:last-child{
                border-bottom: 2px solid $light_green;
                &:hover{
                    border-color: $blue;
                }
            }
        }
        .link_login_page{
            width: 110px;
        }

        
        .form_auth__row{
            display: flex;
            .stages_list{
                width: 700px;
                .stages_list__item{
                    font-weight: bold;
                    color: $black_gray;
                    font-size: $fz_second;
                    &.stages_list__item_active{
                        // color: $black
                        color: $blue;
                    }
                }
            }
            .form_auth_block_second{
                display: flex;
                flex-direction: column;
                position: relative;
                margin-top: 20px;
                .btn{
                    width: 700px;
                }
                .form_auth_input{
                    transition: 0.8s;
                    border: none;
                    border-bottom: 1px solid $black_gray;
                    &:focus{
                        border-color: $black;
                    }
                }
                #type_document,
                #prefix_phone,
                #gender_code,
                #input_country_of_issue:hover{
                    cursor: pointer;
                }

                #dropbtn_prefix_phone,#dropbtn_gender_code,#dropbtn_type_document,#dropbtn_country_of_issue{
                    position: absolute;
                    display:block;
                    right: 0;
                    top: 50%;
                    cursor: pointer;
                }
                #show_passwod,#hide_passwod{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    font-size: $fz_second;
                }
                .form_auth__slider_input{
                    position: absolute;
                    display:block;
                    left: 0;
                    top: 65px;
                    margin:0 auto;
                    height: 1px;
                    background-color: $black;
                    width: 0%;
                    transition: width 1s;
                }
                .prefix_phone_list,.gender_code_list,.type_document_list,.country_of_issue_list{
                    transform-origin: 0 0;
                    transform: scaleY(0);
                    background: $white;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    max-height: 200px;
                    width: 150px;
                    overflow-y: auto;
                    border-top: 0;
                    border-bottom: 1px solid $gray_3;
                    position: absolute;
                    z-index: 1000;
                    top: 66px;
                    @include custom_scroll_bar_body;
                    .prefix_phone_list__item,.gender_code_list__item,.type_document_list__item,.country_of_issue_list__item{
                        padding: 10px;
                        border:1px solid $gray_3;
                        background: $white;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: $black;
                        &:hover{
                            cursor: pointer;
                            background: $gray_4;
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                        &:not(:first-child){
                            border-top: none;
                        }
                    }
                    .select_list__item{
                        background: $light_green_2;
                        color: $white;
                        &:hover{
                            color: $black;
                            background: $light_green_2;
                        }
                    }
                }
                &:hover .form_auth__slider_input{
                    width: 100%;
                }
                .show_drop_content{
                    transform: scaleY(1);
                }
                .gender_code_list,.type_document_list{
                    width: 322px;
                }
                .country_of_issue_list{
                    width: 700px;
                }

                .title_text_finish{
                    h3{
                        margin-bottom: 10px;
                    }
                    span{
                        color: $black_gray_2;
                    }
                }
                .all_info_user_registered{
                    margin-top: 20px;
                    display: flex;
                    
                    flex-direction: column;

                    .user_info_list{
                        width: 100%;
                        .user_info_list__item{
                            padding: 8px 0;
                            border-bottom: 1px solid $black_gray_2;
                            display: flex;
                            justify-content: space-between;
                        }
                        &:first-child{
                            .user_info_list__item{
                                width: 100%;
                            }
                        }
                        &:last-child{
                            .user_info_list__item_row{
                                .user_info_list__item{
                                    width: 330px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
    
}

.form_auth_card__complete_anim{
    margin-left: -1500px;
    opacity: 1;
    display: none;
}
.form_auth_non_view{
    display: none;
    opacity: 0;
    position: absolute;
    background: $white;
    margin-left: 5000px;
    box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
}
.form_auth_card__anim{
    position: absolute;
    padding: 10px;
    margin-left: -10px;
    background: $white;
    animation: slidein 0.5s ease-in-out;
    opacity: 1;
    z-index: 1000;
    box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
}
@keyframes slidein {
    0% {
        margin-top: -25px;
    }
  
    // 30% {
    //     margin-top: 0px;
    // }
  
    // 50% {
    //     margin-top: -20px;
    // }
    // 70%{
    //     margin-top: 0px;
    // }
    // 85%{
    //     margin-top: -15px;
        
    // }
    100%{
        margin-top: 0px;
        // margin-left: -10px;
    }
  }
.form_auth_block__anim{
    margin-top: auto;
    bottom: 0;
}
@import '../footer.scss';