@import '../overall_style.scss';
@import '../header.scss';

.form_auth{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $gray_5;
    box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
    margin-top: 70px;
    margin-bottom: 20px;
    min-height: 420px;
    justify-content: flex-start;
    &#form_forgot_password{
        min-height: auto;
        .form_auth_block:last-child{
            margin-bottom: 20px;
            .link_auth:first-child{
                width: auto;
            }
        }
    }
    &#form_login{
        min-height: auto;
        .form_auth_block{
            &:last-child{
                margin-bottom: 20px;
            }
            &.error_auth{
                background: #A90000;
                color: $white;
                padding: 10px;
            }
        }
    }
    h1{
        margin-bottom: 5px;
    }
    .form_auth_block{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 30px;
        &:last-child{
            flex-direction: row;
        }
        .form_auth_contact_data,.form_auth_profile_data,.form_auth_password_data,.form_auth_finish_data{
            margin-bottom: -10px;
        }
        
        .form_auth_input{
            margin-top: 10px;
        }
        .btn{
            width: 400px;
        }
        .link_auth{
            text-align: center;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            width: auto;
            border-bottom: 2px solid $light_green;
            &:hover{
                border-color: $blue;
            }
        }
        .link_login_page{
            width: 110px;
        }
        .form_auth__row{
            display: flex;
            .stages_list{
                width: 700px;
                .stages_list__item{
                    font-weight: bold;
                    color: $black_gray;
                    font-size: $fz_second;
                    &.stages_list__item_active{
                        // color: $black
                        color: $blue;
                    }
                }
            }
            .form_auth_block_second{
                display: flex;
                flex-direction: column;
                position: relative;
                margin-top: 20px;
                .btn{
                    width: 700px;
                }
                .form_auth_input{
                    transition: 0.8s;
                    border: none;
                    border-bottom: 1px solid $black_gray;
                    &:focus{
                        border-color: $black;
                    }
                }
                #type_document,
                #prefix_phone,
                #gender_code,
                #input_country_of_issue:hover{
                    cursor: pointer;
                }

                #dropbtn_prefix_phone,#dropbtn_gender_code,#dropbtn_type_document,#dropbtn_country_of_issue{
                    position: absolute;
                    display:block;
                    right: 0;
                    top: 50%;
                    cursor: pointer;
                }
                #show_passwod,#hide_passwod{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    font-size: $fz_second;
                }
                .form_auth__slider_input{
                    position: absolute;
                    display:block;
                    left: 0;
                    top: 65px;
                    margin:0 auto;
                    height: 1px;
                    background-color: $black;
                    width: 0%;
                    transition: width 1s;
                }
                .prefix_phone_list,.gender_code_list,.type_document_list,.country_of_issue_list{
                    transform-origin: 0 0;
                    transform: scaleY(0);
                    background: $white;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    max-height: 200px;
                    width: 100%;
                    overflow-y: auto;
                    border-top: 0;
                    border-bottom: 1px solid $gray_3;
                    position: absolute;
                    z-index: 1000;
                    top: 66px;
                    @include custom_scroll_bar;
                    .prefix_phone_list__item,.gender_code_list__item,.type_document_list__item,.country_of_issue_list__item{
                        padding: 10px;
                        border:1px solid $gray_3;
                        background: $white;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: $black;
                        &:hover{
                            cursor: pointer;
                            background: $gray_4;
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                        &:not(:first-child){
                            border-top: none;
                        }
                    }
                    .select_list__item{
                        background: $light_green_2;
                        color: $white;
                        &:hover{
                            color: $black;
                            background: $light_green_2;
                        }
                    }
                }
                &:hover .form_auth__slider_input{
                    width: 100%;
                }
                .show_drop_content{
                    transform: scaleY(1);
                }
                .gender_code_list,.type_document_list{
                    width: 100%
                }
                .country_of_issue_list{
                    width: 100%
                }

                .title_text_finish{
                    h3{
                        margin-bottom: 10px;
                    }
                    span{
                        color: $black_gray_2;
                        width: auto;
                    }
                }
                .all_info_user_registered{
                    margin-top: 20px;
                    display: flex;
                    
                    flex-direction: column;

                    .user_info_list{
                        width: 100%;
                        .user_info_list__item{
                            padding: 8px 0;
                            border-bottom: 1px solid $black_gray_2;
                            display: flex;
                            justify-content: space-between;
                        }
                        &:first-child{
                            .user_info_list__item{
                                width: 100%;
                            }
                        }
                        &:last-child{
                            .user_info_list__item_row{
                                .user_info_list__item{
                                    width: 330px;
                                }
                            }
                            
                        }
                    }
                }
            }
            .overlay_form_active{
                position: absolute;
                width: 100%;
                height: 96.5%;
                z-index: 999999;
                background: $white;
                opacity: 0.7;
                #fountainG{
                    position:relative;
                    width:192px;
                    height:23px;
                    margin:auto;
                    margin-top: 20%;
                }
                
                .fountainG{
                    position:absolute;
                    top:0;
                    background-color:rgb(0,0,0);
                    width:23px;
                    height:23px;
                    animation-name:bounce_fountainG;
                        -o-animation-name:bounce_fountainG;
                        -ms-animation-name:bounce_fountainG;
                        -webkit-animation-name:bounce_fountainG;
                        -moz-animation-name:bounce_fountainG;
                    animation-duration:0.845s;
                        -o-animation-duration:0.845s;
                        -ms-animation-duration:0.845s;
                        -webkit-animation-duration:0.845s;
                        -moz-animation-duration:0.845s;
                    animation-iteration-count:infinite;
                        -o-animation-iteration-count:infinite;
                        -ms-animation-iteration-count:infinite;
                        -webkit-animation-iteration-count:infinite;
                        -moz-animation-iteration-count:infinite;
                    animation-direction:normal;
                        -o-animation-direction:normal;
                        -ms-animation-direction:normal;
                        -webkit-animation-direction:normal;
                        -moz-animation-direction:normal;
                    transform:scale(.3);
                        -o-transform:scale(.3);
                        -ms-transform:scale(.3);
                        -webkit-transform:scale(.3);
                        -moz-transform:scale(.3);
                    border-radius:15px;
                        -o-border-radius:15px;
                        -ms-border-radius:15px;
                        -webkit-border-radius:15px;
                        -moz-border-radius:15px;
                }
                
                #fountainG_1{
                    left:0;
                    animation-delay:0.336s;
                        -o-animation-delay:0.336s;
                        -ms-animation-delay:0.336s;
                        -webkit-animation-delay:0.336s;
                        -moz-animation-delay:0.336s;
                }
                
                #fountainG_2{
                    left:24px;
                    animation-delay:0.4225s;
                        -o-animation-delay:0.4225s;
                        -ms-animation-delay:0.4225s;
                        -webkit-animation-delay:0.4225s;
                        -moz-animation-delay:0.4225s;
                }
                
                #fountainG_3{
                    left:48px;
                    animation-delay:0.509s;
                        -o-animation-delay:0.509s;
                        -ms-animation-delay:0.509s;
                        -webkit-animation-delay:0.509s;
                        -moz-animation-delay:0.509s;
                }
                
                #fountainG_4{
                    left:72px;
                    animation-delay:0.5955s;
                        -o-animation-delay:0.5955s;
                        -ms-animation-delay:0.5955s;
                        -webkit-animation-delay:0.5955s;
                        -moz-animation-delay:0.5955s;
                }
                
                #fountainG_5{
                    left:96px;
                    animation-delay:0.672s;
                        -o-animation-delay:0.672s;
                        -ms-animation-delay:0.672s;
                        -webkit-animation-delay:0.672s;
                        -moz-animation-delay:0.672s;
                }
                
                #fountainG_6{
                    left:120px;
                    animation-delay:0.7585s;
                        -o-animation-delay:0.7585s;
                        -ms-animation-delay:0.7585s;
                        -webkit-animation-delay:0.7585s;
                        -moz-animation-delay:0.7585s;
                }
                
                #fountainG_7{
                    left:144px;
                    animation-delay:0.845s;
                        -o-animation-delay:0.845s;
                        -ms-animation-delay:0.845s;
                        -webkit-animation-delay:0.845s;
                        -moz-animation-delay:0.845s;
                }
                
                #fountainG_8{
                    left:168px;
                    animation-delay:0.9315s;
                        -o-animation-delay:0.9315s;
                        -ms-animation-delay:0.9315s;
                        -webkit-animation-delay:0.9315s;
                        -moz-animation-delay:0.9315s;
                }
                
                
                
                @keyframes bounce_fountainG{
                    0%{
                    transform:scale(1);
                        background-color:rgb(0,0,0);
                    }
                
                    100%{
                    transform:scale(.3);
                        background-color:rgb(255,255,255);
                    }
                }
                
                @-o-keyframes bounce_fountainG{
                    0%{
                    -o-transform:scale(1);
                        background-color:rgb(0,0,0);
                    }
                
                    100%{
                    -o-transform:scale(.3);
                        background-color:rgb(255,255,255);
                    }
                }
                
                @-ms-keyframes bounce_fountainG{
                    0%{
                    -ms-transform:scale(1);
                        background-color:rgb(0,0,0);
                    }
                
                    100%{
                    -ms-transform:scale(.3);
                        background-color:rgb(255,255,255);
                    }
                }
                
                @-webkit-keyframes bounce_fountainG{
                    0%{
                    -webkit-transform:scale(1);
                        background-color:rgb(0,0,0);
                    }
                
                    100%{
                    -webkit-transform:scale(.3);
                        background-color:rgb(255,255,255);
                    }
                }
                
                @-moz-keyframes bounce_fountainG{
                    0%{
                    -moz-transform:scale(1);
                        background-color:rgb(0,0,0);
                    }
                
                    100%{
                    -moz-transform:scale(.3);
                        background-color:rgb(255,255,255);
                    }
                }
            }
            .error_contact_data,.error_profile_data,.error_password_data,.error_finish_data{
                transform: scaleY(0);
                transform-origin: 0 0;
                margin-top: 0;
                padding: 10px;
                background: #A90000;
                color: $white;
                max-width: 700px;
                .error_list{
                    display: flex;
                    flex-direction: column;
                    .error_list__item{
                        font-size: $fz_second;
                        line-height: 20px;
                        &:not(:first-child){
                            margin-top: 10px;
                        }
                    }
                    
                }
            }
            .error_contact_data__active,.error_profile_data__active,.error_password_data__active,.error_finish_data__active{
                transform: scaleY(1);
                margin-top: 20px;
            }
            .form_auth_password_data{
                .overlay_form_active{
                    #fountainG{
                        margin-top: 10px;
                    }
                }
            }
            .form_auth_finish_data{
                .overlay_form_active{
                    height: 100%;
                }
            }
            .error_finish_data__active{
                margin-top: 0;
            }


            .check_mark_contact_from{
                height: 0;
                img{
                    height: 0;
                }
            }
            .check_mark_image__active{
                height: 100%;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
    }
}

.form_auth_finish_data{

}
#block_non_top{
    margin-top: -10px;
}

#main_form_auth #auth_block_btn{
    margin-bottom: 20px;
    margin-top: 20px;
}

.form_auth_card__complete_anim{
    margin-left: -1500px;
    opacity: 1;
    display: none;
}
.form_auth_non_view{
    display: none;
    opacity: 0;
    position: absolute;
    background: $white;
    margin-left: 5000px;
    box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
}
.form_auth_card__anim{
    position: absolute;
    padding: 10px;
    margin-left: -10px;
    background: $white;
    animation: slidein 0.5s ease-in-out;
    opacity: 1;
    z-index: 1000;
    box-shadow: 0px 15px 18px 5px rgba(34, 60, 80, 0.2);
}

.form_auth_block__anim{
    margin-top: auto;
    bottom: 0;
}

@media (max-width: 780px) {
    .form_auth{
        h1{
            font-size: 26px;
        }
        .form_auth_block{
            .form_auth__row{
                .stages_list{
                    width: 600px;
                }
                .form_auth_block_second{
                    .btn{
                        width: 600px;
                    }
                    #phone{
                        width: 380px;
                    }
                    .form_auth_input{
                        width: 100%;
                    }
                }
                .form_auth_profile_data{
                    .form_auth__row{
                        flex-direction: column;
                        display: flex;
                        .form_auth_block_second{
                            width: 100%;
                            .form_auth_input{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .form_auth_finish_data{

                .form_auth_block_second{
                    width: 100%;
                    .all_info_user_registered{
                        .user_info_list{
                            .user_info_list__item{
                                // flex-direction: column;
                            }
                            &:last-child{
                                flex-direction: column;
                                width: 100%;
                                .user_info_list__item_row{
                                    width: 100%;
                                    .user_info_list__item{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 670px){
    .form_auth{
        .form_auth_block{
            .form_auth__row{
                .stages_list{
                    width: 450px;
                    .stages_list__item{
                        font-size: $fz_base;
                    }
                }
                .form_auth_block_second{
                    .btn{
                        width: 450px;
                    }
                    #prefix_phone{
                        width: 100px;
                    }
                    #phone{
                        width: 300px;
                    }
                }
                .form_auth_profile_data{
                    .form_auth__row{
                        flex-direction: column;
                        display: flex;
                        .form_auth_block_second{
                            width: 100%;
                            .form_auth_input{
                                width: 100%;
                            }
                        }
                    }
                }
                .form_auth_finish_data{
                    max-width: 450px;
                    .btn{
                        width: 100%;
                    }
                    .form_auth_block_second{
                        width: 100%;
                        .all_info_user_registered{
                            width: 100%;
                            .user_info_list{
                                .user_info_list__item{
                                    // flex-direction: column;
                                    
                                }
                                &:last-child{
                                    
                                }
                            }
                        }
                    }
                }
            }
                
        }
    }
}
@media (max-width: 520px){
    .form_auth{
        .form_auth_block{
            .form_auth__row{
                .stages_list{
                    flex-direction: column;
                    align-items: flex-start;
                    width: auto;
                    .stages_list__item{
                        font-size: $fz_base;
                        &:not(:first-child){
                            margin-top: 5px;
                        }
                    }
                }
                .form_auth_block_second{
                    width: 350px;
                    .btn{
                        width: 350px;
                    }
                    #prefix_phone{
                        width: 100%;
                    }
                    #phone{
                        width: 100%;
                    }
                }
                .form_auth_contact_data{
                    .form_auth__row{
                        flex-direction: column;
                        display: flex;
                    }
                    
                }
                .form_auth_profile_data{
                    .form_auth__row{
                        flex-direction: column;
                        display: flex;
                        .form_auth_block_second{
                            width: 100%;
                            .form_auth_input{
                                width: 100%;
                            }
                        }
                    }
                }
                .form_auth_finish_data{
                    max-width: 350px;
                }
            }
                
        }
    }
}
@media (max-width: 480px) {
    .form_auth{
        h1{
            font-size: 26px;
            margin: 10px 0;
            margin-bottom: 0;
        }
        .warning_text{
            max-width: 300px;
        }
        .form_auth_block{
            input,.btn{
                width: 350px;
            }
            .link_auth{
                font-size: $fz_base;
            }
            .form_auth__row{
                .form_auth_block_second{
                    width: 300px;
                    .btn{
                        width: 300px;
                    }
                }
                .form_auth_contact_data{
                    .form_auth__row{
                        flex-direction: column;
                        display: flex;
                    }
                    
                }
                .form_auth_profile_data{
                    .form_auth__row{
                        flex-direction: column;
                        display: flex;
                        .form_auth_block_second{
                            width: 100%;
                            .form_auth_input{
                                width: 100%;
                            }
                        }
                    }
                }
                .form_auth_finish_data{
                    max-width: 300px;
                }
            }
        }
        
    }
}
@media (max-width: 420px) {
    .form_auth{
        .warning_text{
            max-width: 250px;
        }
        .form_auth_block{
            input,.btn{
                width: 300px;
            }
            .form_auth__row{
                .form_auth_block_second{
                    .btn{
                        width: 100%;
                    }
                }
                .form_auth_contact_data{
                    .form_auth__row{
                        flex-direction: column;
                        display: flex;
                    }
                }
            }
            .form_auth_finish_data{
                .form_auth_block_second{
                    .all_info_user_registered{
                        .user_info_list{
                            &:last-child{
                                flex-direction: column;
                                width: 100%;
                                .user_info_list__item_row{
                                    width: 100%;
                                    .user_info_list__item{
                                        width: 100%;
                                        align-items: center;
                                        .title_item{
                                            width: 130px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 370px) {
    .form_auth{
        .form_auth_block{
            input,.btn{
                width: 260px;
            }
            .form_auth__row{
                .error_contact_data,.error_profile_data,.error_password_data,.overlay_finish_form{
                    width: 250px;
                }
            }
        }
    }
}
@import '../footer.scss';